%p#notice= notice

%p
  %b Name:
  = @exercise.name
%p
  %b Kata:
  = link_to @exercise.kata_link, @exercise.kata_link
%p
  %b Git Repo:
  = link_to @exercise.repo, @exercise.repo
%p
  %b Language:
  = @exercise.language

= link_to 'Home', home_path
